.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.header {
  padding: 0 10px;
}

.header-profile-menu {
  width: 200px;
  text-align: center;
}

.header-profile-menu-item {
  font-size: 24px;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

.controls-geolocate {
  margin-bottom: 7px;
}

.spin {
  text-align: center;
  position: absolute;
  margin: 50%;
  transform: translate(-50%, -50%);
}
