.controls {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

.controls-geolocate {
  margin-bottom: 7px;
}

.selected-navLink {
  color: var(--color-almost-white) !important;
  background-color: var(--color-medium-grey);
}

.activeLink {
  border-bottom: 0.3rem solid red !important;
  color: red !important;
}

.icon {
  fill: currentColor;
}

.icon-smallest {
  font-size: 2rem;
}

.icon-small {
  font-size: 2.4rem;
}

.icon-medium {
  font-size: 3.5rem;
}

.icon-large {
  font-size: 4.5rem;
}

.pin-icon {
  cursor: pointer;
  fill: var(--color-medium-grey);
}

.draf-pin-icon {
  fill: var(--color-earth-red);
}

.draft-pin-icon-draggable {
  cursor: pointer;
  fill: var(--color-earth-red);
}

.draft-pin-icon-draggable:hover {
  fill: var(--color-light-grey);
  transform: translateY(-0.2rem);
  cursor: grab;
}
